@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="nav"><NavLink href="/" class="nav-link" Match=@NavLinkMatch.All>Dialogue</NavLink> | <NavLink href="/" class="nav-link" Match=@NavLinkMatch.All>Variables</NavLink> | <NavLink href="/" class="nav-link" Match=@NavLinkMatch.All>Switches</NavLink> | <NavLink href="/" class="nav-link" Match=@NavLinkMatch.All>Maps</NavLink> | <NavLink href="/parser" class="nav-link" Match=@NavLinkMatch.All>Parser</NavLink></div>
        <h2>OMORI Dialogue</h2>

        This page lists all of the spoken dialogue in OMORI, without battle text as of now.
        <span style="color: red">ATTENTION: SPOILERS AHEAD!!</span>
        <br />
        If you notice any mistakes, please open an issue <a href="https://github.com/goaaats/OmoriDialogue">on my GitHub repo.</a>
        <br />
        <br />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
